# questions：示例问题（非必选）
# keys：匹配关键字（正则）
# answer：参考答案
# 常用疑问："(怎|咋|为什么|如何)" "[\\?？么吗怎呢嘛咋啥]"
# 指令 _xxx
- 
  questions:
    - 请求跨域怎么办
  keys:
    - "跨域.*[\\?？么吗怎呢嘛咋啥]"
    - "(怎|咋|为什么|如何).*跨域"
    - _跨域
  answer: 跨域问题参考：http://ask.dcloud.net.cn/article/35267
-
  questions:
    - 在uni-app中该怎么引用微信的js文件
  keys:
    - "公众号.*[\\?？么吗怎呢嘛咋啥]"
    - "[引使用载].*微信.*js"
    - _公众号
  answer: UNI-APP 开发微信公众号（H5）JS-SDK 的使用方式：http://ask.dcloud.net.cn/article/35380
-
  questions:
    - 安卓微信支付报错
  keys:
    - "微信.*支付.*(错|败|-1|-100)"
    - _微信支付
  answer: 安卓微信支付-100 （-1）错误排除指导：http://ask.dcloud.net.cn/article/34997
-
  questions:
    - 遮罩后面的页面为何还能被拖动？
  keys:
    - "[阻禁]止.*滚动"
    - (弹框|蒙层|遮罩).*能.*动
    - _遮罩
  answer: 如果想阻止弹出层的滚动，可以在遮罩层监听touchmove事件同时阻止事件冒泡和默认行为： <view class="mask" @touchmove.stop.prevent="moveHandle"></view>
-
  keys:
    - ss.*变量
  answer: 样式可以全局设置（在app.vue中），变量不能全局设置。
-
  keys:
    - "代理.*[\\?？么吗怎呢嘛咋啥]"
    - "(怎|咋|为什么|如何).*代理"
    - _代理
  answer: 关于代理的设置，可以参考文档：https://uniapp.dcloud.io/collocation/manifest?id=devserver 注意Tips部分
-
  keys:
    - 打包*.微信登陆
    - _微信登陆
  answer: 微信登陆失败的检查一下manifest里微信登陆相关的配置
-
  questions:
    - ios端云打包之后,uni.chooseImage,无法预览图片
  keys:
    - 打包.*(图片|图像|预览图|image).*[不无]
    - 打包.*[不无].*(图片|图像|预览图|image)
  answer: 打包后如果iOS图像显示异常参考：http://ask.dcloud.net.cn/question/61491
-
  keys:
    - socket\.*io
  answer: uni-app中socket.io可以使用：https://github.com/10cella/weapp.socket.io
-
  keys:
    - "npm.*[\\?？么吗怎呢嘛咋啥]"
    - "(怎|咋|为什么|如何).*npm"
    - _npm
  answer: npm使用方式参考：https://uniapp.dcloud.io/frame?id=npm%E6%94%AF%E6%8C%81
-
  questions:
    - uni-app引入字体的css方法和H5的一样吗？
    - 如何使用第三方字体库呢
    - 怎么使用iconfont的图标
    - uni-app如何使用本地 icons字体
    - 字体库图标怎么搞
  keys:
    - "([引使用载].*字体|字体.*图标|阿里.*字体|阿里.*图标|iconfont|uni-?icon).*[\\?？么吗怎呢嘛咋啥]"
    - "(怎|咋|为什么|如何).*([引使用载].*字体|字体图标|阿里.*字体|阿里.*图标|iconfont|uni-?icon)"
    - _字体图标
  answer: uni-app字体图标使用：https://uniapp.dcloud.io/frame?id=%E5%AD%97%E4%BD%93%E5%9B%BE%E6%A0%87
-
  keys:
    - 过滤器|filter
  answer: 目前编译到app和小程序平台不支持过滤器的使用：https://uniapp.dcloud.io/use?id=%E4%B8%8D%E6%94%AF%E6%8C%81%E8%BF%87%E6%BB%A4%E5%99%A8，可以使用计算属性（computed）提前计算好（如果是数组类型，就提前计算整个数组），来代替过滤器
-
  keys:
    - js.*全局变量
    - _全局变量
  answer: uni-app 全局变量的几种实现方式：http://ask.dcloud.net.cn/article/35021
-
  questions:
    - 百分比在百度小程序里没效
    - uni.login在百度小程序里没用吗
    - 百度小程序样式变形了
    - 百度小程序也起不来
    - 个方法在支付宝小程序不可用
    - 在百度小程序上拿不到对象
  keys:
    - "[宝度].*小程序.*(没|无|不|问题|样式)"
    - "(没|无|不|问题|样式).*[宝度].*小程序"
    - _支付宝小程序
    - _百度小程序
  answer: uni-app 编译支付宝/百度小程序注意事项：https://ask.dcloud.net.cn/article/35393
-
  keys:
    - "[eE]chart"
  answer: 关于echarts的问题可以参考hello uni-app里的示例，注意如果在部分平台报错的话，使用hello uni-app里面的js（如果自己引用其他版本报错的，参考hello uni-app里面的修改一下）
-
  keys:
    - "越狱包.*(安装|错|不|无|问题)"
    - 安装.*越狱包
  answer: 只有越狱手机才能安装越狱包
-
  keys:
    - scroll-*view.*scroll-*top.*[无不].*效
  answer: scroll-view内如果给scroll-top设置相同的值不会同步到view层，参考一下hello uni-app里的scroll-view示例
-
  keys:
    - "uni-*app.*更新.*[\\?？么吗怎呢嘛咋啥]"
  answer: uni-app 升级检测：http://ask.dcloud.net.cn/article/34972
-
  keys:
    - 图.*转.*base64
    - base64.*存
    - base64.*转.*图
  answer: 图像转为base64，图像base64保存为文件 可使用插件：http://ext.dcloud.net.cn/plugin?id=123
-
  questions:
    - app如何向web页面传输数据？
    - webview传参
  keys:
    - "(web-?view|web.*页).*传.*(参|值|数据)"
  answer: web-view传参可以在href连接后面加?xx=xxx&xxx=xxx（值必要时使用encodeURIComponent编码），html通过location.search获得参数
-
  keys:
    - history
  answer: HTML5 History 模式：https://router.vuejs.org/zh/guide/essentials/history-mode.html
-
  questions:
    - h5端怎么播放m3u8
  keys:
    - "[Hh]5(?!\\+).*m3u8"
    - m3u8.*[Hh]5(?!\\+)
  answer: uni-app在H5平台使用video.js，以及播放m3u8格式的视频：http://ask.dcloud.net.cn/article/35442
-
  keys:
    - view.*1.*距
  answer: 如果发现相邻的两个view之间有个1px的间距，不要慌，这个是Chrome浏览器内核的bug，一般这个bug会导致两个相邻元素设置相同的背景色时中间出现一条浅色线条，可以尝试修改两个相连元素的大小，或者嵌套到相同的父元素，给父元素填充颜色。
-
  questions:
    - 模拟器不能连接怎么办
    - 搜索不到安卓手机
    - 运行到设备失败
  keys:
    - "(检测|连接|搜索|运行).*[不无].*(设备|手机|平板|模拟器|真机)"
    - "(检测|连接|搜索|运行).*(设备|手机|平板|模拟器|真机).*(问题|失败)"
    - "(设备|手机|平板|模拟器|真机).*[不无].*(检测|连接|搜索|运行)"
  answer: HBuilderX真机运行连接不上设备的问题，参考：http://ask.dcloud.net.cn/article/97
-
  keys:
    - 全局变量
  answer: uni-app 全局变量的几种实现方式：http://ask.dcloud.net.cn/article/35021
-
  questions:
    - 怎么去掉导航栏？
    - 导航栏怎么去掉？
    - 标题能去掉吗？
    - 我单独把顶栏去掉
    - 取消导航栏
    - 请问如何在H5APP隐藏这个头部
    - 怎么去掉状态栏
  keys:
    - "([不去定消隐藏].*(导航|头部|标题|title\\b|navigationBar|顶栏|状态栏)|(导航|头部|标题|title\\b|navigationBar|顶栏|状态栏).*[不去定消隐藏])"
    - _导航栏
  answer: "去掉页面的导航栏方法：\n所有页面都去掉：在pages.json里配置navigationStyle为custom（https://uniapp.dcloud.io/collocation/pages?id=globalstyle）\n单页面去掉：新版小程序支持page->style配置navigationStyle为custom（https://uniapp.dcloud.io/collocation/pages?id=style），app和h5配置titleNView为false（https://uniapp.dcloud.io/collocation/pages?id=app-plus）\n另外可以参考hello uni-app里的自定义导航栏示例（注意顶部状态栏占位）"
-
  keys:
    - "[hH]5.*引.*js"
  answer: uni-app在H5端除了模块化引入js外，还可以直接动态加载js（自己百度），或者在html模版里加载：https://uniapp.dcloud.io/collocation/manifest?id=h5-template
-
  keys:
    - "(onlaunch|app\\.vue).*(登录|跳转|navigateTo)"
    - _onlaunch
  answer: 如果要在onlaunch生命周期内进行页面的跳转，需要注意可能会和pages.json内配置的第一个页面跳转冲突
-
  questions:
    - 能集成第三方sdk吗
  keys:
    - "(接|引|使|调|用|集成).*(第三方|sdk)"
    - _第三方
  answer: 关于在uni-app内使用第三方sdk的问题，如果第三方sdk有提供小程序版，可以直接使用，一般多端都兼容。如果有js版本可以在h5端使用，如果有原生sdk，可以参考此文档集成：https://uniapp.dcloud.io/api/extend/native-plugin?id=requirenativeplugin。
-
  keys:
    - "(picker|drawer|弹出|出现|执行).*(卡顿|延迟|延时)"
  answer: 如果发现部分手机上逻辑执行有延迟，解决方式参考：http://ask.dcloud.net.cn/question/60932
-
  keys:
    - 1(px|像素).*[线粗细]
  answer: 详解移动端页面细线实现方案：https://blog.csdn.net/yuhk231/article/details/53976295
-
  keys:
    - set[Dd]ata.*[不无]
  answer: 目前不支持setData方法修改data的属性，直接修改即可：this.xxx=xxx
-
  keys:
    - 小程序.*(移植|转uni)
  answer: 小程序转uni-app、小程序移植uniapp经验分享：https://ask.dcloud.net.cn/article/35020
-
  questions:
    - 编译好的H5页面怎么打不开
    - mpvue小程序项目转uniapp项目编译成h5网页项目出错
    - 请问一下发行的h5然后报这个错。是什么意思？
    - h5打包后，tomcat跑不起来，谁遇到过啊？
    - h5部署到了服务器，但是也报错
  keys:
    - "(编译|打包|运行|调试|发布|发行|部署).*[Hh]5(?!\\+).*(不|问题|错)"
    - "[Hh]5(?!\\+).*(编译|打包|运行|调试|发布|发行|部署).*(不|问题|错)"
    - _h5
  answer: uni-app的H5版使用注意事项：http://ask.dcloud.net.cn/article/35232
-
  questions:
    - 请问banner上的圆点的大小怎么修改呀
    - swiper能不能不使用原点指示点，是需要自己重写么
  keys:
    - "(swiper|banner|轮播).*(指示|点).*(样式|调|修改|控制|重写)"
    - "(swiper|banner|轮播).*(不使用|修改|控制|重写|调).*(指示|点)"
    - _指示器
  answer: 如果想自定义swiper组件指示器的样式，可以隐藏原来的指示器，自己使用view绘制新的指示器，并通过监听change事件修改指示器状态。
-
  questions:
    - 安卓端应用离线的话收不到推送消息吗
  keys:
    - (app|应用).*(退出|后台|离线).*推送.*不
    - (app|应用).*(退出|后台|离线).*不.*推送
    - _离线推送
  answer: 在国产安卓系统上，app后台以后一般都会被手机内置管家应用杀死，推送就不能到达了（除非有其他活着的应用也使用了个推）。大的厂家一般和手机制造商合作，将自己应用默认到了白名单，小厂如果谈不下合作，可以提示用户手动加入管家应用到白名单。
-
  questions:
    - 谁写过xx组件呀
    - 谁封装的有日期时间插件？
  keys:
    - "(有没有|谁.*有|谁写过).*(组件|插件|模块|[Uu][Ii]框架)"
    - _插件市场
  answer: 找组件、插件、模块到插件市场去看看：http://ext.dcloud.net.cn/
- 
  questions:
    - 大家开发 使用的前端UI 用的是什么？
    - 除了vant 还有其他UI框架吗？
    - 你们用什么ui框架呀
    - 有什么好用的ui框架推荐一下吗
    - ui库有什么好推荐的
    - 这个uni-app本身是不是没有ui框架
    - 跨端的 ui 库，有推荐的吗？
    - uni-app项目你们都是用的哪些UI框架呀
    - 可以使用vant组件库吗
    - vant是否可以使用
    - vant怎么不能用
    - 我也想问怎么使用vant
    - uniapp里有办法使用vant 的vue组件库吗
    - uni-app支持引入vant 这样的第三方vue ui库吗？
    - 麻烦问下uniapp有啥ui组件库么？
  keys:
    - "[用有选].*(什么|啥|哪).*([Uu][Ii]\\s*(框架|库)|前端[Uu][Ii]|组件库)"
    - "(是不是|有没有).*([Uu][Ii]\\s*(框架|库)|前端[Uu][Ii]|组件库)"
    - "[用有选].*([Uu][Ii]\\s*(框架|库)|前端[Uu][Ii]|组件库).*(什么|啥|哪|吗|？|\\?)"
    - "([Uu][Ii]\\s*(框架|库)|前端[Uu][Ii]|组件库).*[用有选].*(什么|啥|哪|吗|？|\\?)"
    - "[用引].*vant.*[\\?？么吗怎呢嘛咋啥]"
    - vant.*[\\?？么吗怎呢嘛咋啥].*[用引]
    - vant.*(是否|能否).*[用引]
    - vant.*[用引].*[\\?？么吗怎呢嘛咋啥]
    - (怎|咋|为什么|如何).*vant.*[用引]
    - (怎|咋|为什么|如何).*[用引].*vant
    - vant.*(错|问题)
    - _ui
    - _vant
  answer: 关于uni-app的ui库、ui框架：https://ask.dcloud.net.cn/article/35489
-
  - 嘤嘤嘤
  - 一拳一个嘤嘤怪
- 
  - 发帖
  - "社区地址：http://ask.dcloud.net.cn/explore/\n发帖指南：http://ask.dcloud.net.cn/article/35334\n描述清楚问题或需求，并提供可以重现问题的项目。\n方便测试定位问题，感谢配合。"
- 
  questions:
    - 请问下 uni-app 开发出来的app 能正常上线么
    - 这里面有人用uni-app打包ios上架成功过的吗
    - uni-app 用这个可以上架到appstore 吗
    - 纯uniapp开发的app能上苹果应用商店吗
  keys:
    - "(开发|打包).*(上架|上线).*[\\?？么吗怎呢嘛咋啥]"
    - "上.*(商店|appstore).*[\\?？么吗怎呢嘛咋啥]"
    - _上架
  answer: 使用 uni-app 开发出来的应用上架安卓商店和苹果商店都没有问题，需要注意的就是自己应用的质量，以及符合应用商店的规定。
- 
  questions:
    - 怎样获取应用的版本号？
    - app版本号怎么拿到？
    - 就是不能获取应用版本号吗
  keys:
    - "(怎|如何|能否).*[获取拿].*(app|应用).*(version|版本)"
    - "[获取拿].*(app|应用).*(version|版本).*[\\?？么吗怎呢嘛咋啥]"
    - "(app|应用).*(version|版本).*(怎|如何|能否).*[获取拿]"
    - "(app|应用).*(version|版本).*[获取拿].*[\\?？么吗怎呢嘛咋啥]"
  answer: 获取5+APP的版本号方式：plus.runtime.getProperty（http://www.html5plus.org/doc/zh_cn/runtime.html#plus.runtime.getProperty）。另外真机调试获取到的版本号是固定的（基座版本号）。
- 
  questions:
    - 请问页面的滚动条如何隐藏
    - 怎样去掉app的滚动条
  keys:
    - (页面|app|应用).*滚动条.*(如何|怎).*(隐藏|去|除)
    - (如何|怎).*(隐藏|去|除).*(页面|app|应用).*滚动条
  answer: 5+APP端可以隐藏整页滚动的滚动条：在 pages.json 内配置页面的 style->app-plus->scrollIndicator 为 "none"
- 
  questions:
    - 怎么禁止软键盘把底部导航顶起来啊
    - input输入时弹起底部tab被软键盘顶上去  怎么解决啊
    - tab被键盘顶上去，有办法隐藏么
  keys:
    - 禁止.*键盘.*(tab|导航).*顶
    - "键盘.*(tab|导航).*顶.*[\\?？么吗怎呢嘛咋啥]"
    - "(tab|导航).*键盘.*顶.*[\\?？么吗怎呢嘛咋啥]"
    - "input.*(tab|导航).*顶.*[\\?？么吗怎呢嘛咋啥]"
    - 禁止.*input.*(tab|导航).*顶
  answer: 可以在输入框获取和失去焦点的时候使用uni.hideTabBar（https://uniapp.dcloud.io/api/ui/tabbar?id=hidetabbar）、uni.showTabBar（https://uniapp.dcloud.io/api/ui/tabbar?id=showtabbar）控制 TabBar 的显示状态。
-
  questions:
    - 遮罩层挡不住tabbar咋破
    - 蒙层怎么挡住tabbar
  keys:
    - "(弹框|蒙层|遮罩).*[挡|遮].*(tab|导航)"
  answer: 可以在显示和隐藏遮罩的时候使用uni.hideTabBar（https://uniapp.dcloud.io/api/ui/tabbar?id=hidetabbar）、uni.showTabBar（https://uniapp.dcloud.io/api/ui/tabbar?id=showtabbar）控制 TabBar 的显示状态。  
-
  questions:
    - 发一个已完成的案例来看看
    - 有没有开源示例
    - github上面搜不到几个 uni app的开源项目
  keys:
    - (上线|上架|已完成|开源).*(案例|示例|项目)
    - _案例
  answer: uni-app案例：https://uniapp.dcloud.io/case，uni-app开源项目：https://uniapp.dcloud.io/casecode
- 
  questions:
    - 在H5 中 用google 浏览器 获取不到定位信息
    - h5端getLocation报错
    - chrome浏览器无法定位
  keys:
    - "([Hh]5(?!\\+)|[gG]oogle|[cC]hrome).*(不|无法).*(定位|[lL]ocation)"
    - "([Hh]5(?!\\+)|[gG]oogle|[cC]hrome).*(定位|[lL]ocation).*(失败|错)"
  answer: "H5端获取定位信息，需要部署在 https 服务上，本地预览（localhost）仍然可以使用 http 协议。\n无 GPS 模块的 PC 设备使用 Chrome 浏览器的时候，位置信息是连接谷歌服务器获取的，国内用户可能获取位置信息失败。"
-
  questions:
    - H5title怎么修改
    - H5 怎么动态的设置title
  keys: 
    - "[Hh]5(?!\\+).*title\\b.*[改配设]"
    - "[Hh]5(?!\\+).*[改配设].*title\\b"
  answer: "H5端title配置方式：https://uniapp.dcloud.io/collocation/manifest?id=h5\n动态修改title：document.title = '标题文字'（跨端兼容：https://uniapp.dcloud.io/platform），另外可以利用 mixin 统一修改"
-
  questions:
    - uni-app怎么获取元素标签的高度
    - uniapp 如何获取DOM元素与顶部的高度呢
    - 如何获取某个组件渲染后的高度
  keys:
    - "[获取].*(元素|标签|view|组件|节点).*(高度|大小|位置|信息)"
    - _节点
  answer: 获取组件渲染的大小和位置信息可以使用节点信息API（https://uniapp.dcloud.io/api/ui/nodes-info），注意在渲染后获取。
-
  questions:
    - uni-app支持离线打包么
  keys:
    - "离线打包.*[\\?？么吗怎呢嘛咋啥]"
    - "(怎|咋|为什么|如何).*离线打包"
    - _离线打包
  answer: "uni-app 支持离线打包，详细参考相关文档：\nhttps://ask.dcloud.net.cn/article/103\nhttps://ask.dcloud.net.cn/article/35139\nhttps://ask.dcloud.net.cn/article/35379"
-
  questions:
    - 怎么增加云打包次数
    - 打包次数是怎么限制的
  keys:
    - "打包.*次数.*[\\?？么吗怎呢嘛咋啥]"
    - "(怎|咋|为什么|如何).*打包.*次数"
    - _打包次数
  answer: 为了优化打包排队情况，每日的打包次数进行了限制，具体参考打包提示。
-
  questions:
    - 下拉刷新跟城市picker冲突怎么解决啊
  keys:
    - 下拉刷新.*picker.*冲突
  answer: 可以在弹出自定义picker之前，使用uni.pageScrollTo（https://uniapp.dcloud.io/api/ui/scroll?id=pagescrollto）滚动页面，向下滚动一点。
-
  questions:
    - HBuilderX保存就刷新的功能去不掉
  keys:
    - 保存.*刷新.*([去关]不?掉|关闭)
  answer: 点击菜单或者控制台右上角的停止运行即可
-
  questions:
    - 集成极光推送需要离线打包才能生效？
    - 极光推送怎么集成 ios的
  keys:
    - 极光.*推送.*[\\?？么吗怎呢嘛咋啥]
    - (怎|咋|为什么|如何).*极光.*推送
    - _极光推送
  answer: "极光推送可以离线打包集成\n离线打包的方式可以参考ask文档（或者回复关键词获取相关帮助：_离线打包）\n集成极光推送的方式可以参考社区的相关文章：http://ask.dcloud.net.cn/search/q-5p6B5YWJ5o6o6YCB#all"
-
  questions:
    - 微信开发者工具无法启动，提示安全设置
  keys:
    - 微信.*启动.*安全
    - _安全设置
  answer: 新版微信开发者工具安全设置：http://ask.dcloud.net.cn/article/35504
-
  questions:
    - "Browserslist: caniuse-lite is outdated. Please run next command `npm update caniuse-lite browserslist`这是啥意思呀"
  keys:
    - "caniuse.*outdated"
    - _caniuse
  answer: uni-app编译器报caniuse-lite is outdated的紧急处理方案：https://ask.dcloud.net.cn/article/35518
-
  questions:
    - 微信小程序运行，体积变大
    - 新版HBuilderX 编译出来的小程序 比之前大了1M是什么操作？
    - 项目运行在微信开发者工具上太大了，预览不了，有什么办法解决下吗
  keys:
    - "(小程序|微信开发者).*([增变太]大|大了)"
    - _小程序发布
  answer: 关于微信小程序运行，体积变大的问题。因为运行到微信小程序进行调试，不再压缩代码。如果需要发布，请点击发行菜单。
-
  questions:
    - unexpected token `*`
  keys:
    - "unexpected.*token.*\\*"
    - "_\\*"
  answer: 小程序和APP端不支持选择器“*”，运行可能出现报错：unexpected token `*`，可在样式表内搜索移除相关样式解决。
-
  questions:
    - unexpected token `;`
  keys:
    - "unexpected.*token.*;"
    - "_;"
  answer: 出现错误：unexpected token `;`，是 css 代码写了两个分号`;;`导致的，解决方案：搜索工程里的两个分号`;;`，替换为单个分号`;`
-
  - _工作
  - 开局一张图，内容全靠猜，建议大家发问题的时候说明故事的背景和内容，另外发的图我不能识别，可以复制主要内容发出来，方便我工作。
-
  questions:
    - Cannot read property 'jWeixin' of undefined
  keys:
    - jWeixin.*undefined
    - _jweixin
  answer: H5端之前引用微信JS-SDK模块“jweixin-module”失效的，请更新此模块。（https://ask.dcloud.net.cn/article/35380）
-
  questions:
    - Now you can provide attr `wx:key` for a `wx:for` to improve performance.
  keys:
    - wx:key.*performance
    - _for
  answer: 列表渲染（v-for）的使用：https://uniapp.dcloud.io/use?id=%E5%88%97%E8%A1%A8%E6%B8%B2%E6%9F%93
-
  questions:
    - uni app 怎么控制小程序分包
    - 小程序分包咋整
  keys:
    - (怎|咋|为什么|如何).*小程序.*分包
    - 小程序.*分包.*[\\?？么吗怎呢嘛咋啥]
    - _分包
  answer: 小程序分包参考：https://uniapp.dcloud.io/collocation/pages?id=subpackages
-
  questions:
    - 有没有视频教程推荐
    - 视频教程看哪个好
    - 请问uni-app有视频教程吗
    - uni-app 学习有视频教程吗
    - 有没有uni系列视频教程
    - 谁有对应的视频教程
    - 视频教程在哪里哇？
    - 有没有uni的视频教程啊。。
    - 请问大佬们  有相关的视频教程么
    - 这个东西有就没有视频教程呀？
  keys:
    - (有没有|哪|谁有).*视频.*教程
    - 视频.*教程.*(有没有|哪|谁有)
    - 有.*视频.*教程.*[\\?？么吗怎呢嘛咋啥]
    - _视频教程
  answer: 视频教程：https://uniapp.dcloud.io/resource